<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="imagine">Imagine</label>
        <input
          type="text"
          class="form-control"
          id="imagine"
          required
          [(ngModel)]="portofoliu.imagine"
          name="imagine"
        />
      </div>

      <div class="form-group">
        <label for="description">Titlu</label>
        <input
          class="form-control"
          id="titlu"
          required
          [(ngModel)]="portofoliu.titlu"
          name="titlu"
        />
      </div>

      <div class="form-group">
        <label for="description">Descriere</label>
        <input
          class="form-control"
          id="descriere"
          required
          [(ngModel)]="portofoliu.descriere"
          name="descriere"
        />
      </div>

      <div class="form-group">
        <label for="description">Link</label>
        <input
          class="form-control"
          id="link"
          required
          [(ngModel)]="portofoliu.link"
          name="link"
        />
      </div>

      <button (click)="savePortofoliu()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Portofoliu salvat!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
