<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="sursa">Sursa</label>
        <input
          type="text"
          class="form-control"
          id="sursa"
          required
          [(ngModel)]="imagine.src"
          name="sursa"
        />
      </div>

      <div class="form-group">
        <label for="description">Alternativa</label>
        <input
          class="form-control"
          id="alternatuva"
          required
          [(ngModel)]="imagine.alt"
          name="alternativa"
        />
      </div>

      <button (click)="saveImagine()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Imagine salvata!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
