<div class="container">
  <form class="" action="/edit:id" method="post">
    <div class="row mb-3">
      <label for="titlu" class="col-sm-2 col-form-label">src</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titlu" name="src">
      </div>
    </div>
    <div class="row mb-3">
      <label for="titlu" class="col-sm-2 col-form-label">alt</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titlu" name="alt">
      </div>
    </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" routerLink="/edit:id">Trimitere imagine</button>
  </div>
  </form>
</div>
